<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <threshold value="DEBUG" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p %c - %m%n" />
      </layout>
    </appender>
    <root>
      <appender-ref ref="ConsoleAppender" />
      <level value="DEBUG" />
    </root>
  </log4net>
  <appSettings>
    <add key="hostname" value="http://teamcity.foo.com"/>
    <add key="username" value=""/>
    <add key="password" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
